@import "variable.styl"

body, html
  margin: 0
  padding: 0
  line-height: 1
  //font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: text
  -webkit-tap-highlight-color: transparent
  background: #ebf1f5
  color: $color-text
  height:100%
  width:100%
  font-size: $font-size

input:focus{
  outline:none
}