*{
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn{
      display:inline-block;
      padding:0.1rem 0.18rem
      color:#333;
      background:$grey;
      border-radius:0.1rem;
}
.btn-primary{
      background:$blue;
      color:white;
}
.btn-disabled{
          pointer-events: none;
          opacity:0.7;
}
.line{
      display:block;
      height:0.2rem;
      background:transparent;
}