// 主題顏色
$color-bg = #ffffff
// 白色背景间 的间隔的深色
$color-bg-d = #ebf1f5
// 蓝色背景
$color-bg-blue = #00a1ea
// border颜色
$color-border = #f0f0f0

// 字体颜色
// 正文字体颜色
$color-text = #666666
// 正文浅一级
$color-text-ll = #cccccc
// 页面title字体颜色
$color-text-h = #010000
// list title字体颜色
$color-text-l = #404040
// 蓝色字体
$color-text-blue = #00a0ea

//
$font-szie = 12px
// 
// 聊天背景色
$chat-bg-color=#f6f7f7

$blue=#00a0ea
$grey=#dee4e8
.blue {
  color:$blue
  }
.grey{
  color:$grey
}
